<!doctype html>
        <html>
           <head>
               <style>
    	 body {
                   background-color: #FDF5E6;
               }

               #btn_group button{
                   border: 2px black;
                   color: black;
                   padding: 5px;
               }
               #btn_group button:hover{
                   color:white;
                   background-color: skyblue;
               }
               </style>
           </head> 	

           <body>
               
               <p><center><span style="border-radius: 15px 15px 15px 0; border: 3px solid #FFAD5B; padding: 0.5em 0.6em; color: #FF8000;">{{index2}}는(은) 올바른 입력이 아닙니다.</span></center></p>
                   <div id = "btn_group">
                       <center><button onClick="history.back();">메인화면으로 이동하기</button ></center>
                   </div>           	         
           </body>
        </html>